#hero {
    width: 100%;
    height: 100vh;
    max-height: 650px;

    position: relative;
    overflow: hidden;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/fotky/ostatni/gradient.png") no-repeat;
    background-size: cover;
    z-index: 10;
    pointer-events: none;
}
.title-text {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);

    color: white;
    background-color: var(--red);

    padding: 20px 50px;

    border-radius: 0 5px 5px 0;

    z-index: 10;
}
.title-text h1 {
    font-weight: 700;
    font-size: 64px;

    margin: 0;
    margin-bottom: 20px;

    color: #fff;
}
.title-text h1::before {
    display: none !important;
}
.title-text p {
    font-size: 24px;
    font-weight: 500;
    margin: 0 !important;
    margin-bottom: 10px !important;
    line-height: 32px;
}

@media (max-width: 1000px) {
    #hero {
        max-height: 300px;
    }
    .title-text {
        display: none;
    }
}

/* SWIPER */
.swiper-container {
    width: 100%;
    height: 100%;
    max-height: 650px;

    position: relative;
}
.swiper-slide {
    height: auto !important;
    position: relative;
}
.swiper-slide img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Custom Pagination */
.swiper-pagination {
    bottom: 10px !important;
    text-align: center;
}
.swiper-pagination-bullet {
    width: 40px;
    height: 6px;
    border-radius: 0;

    margin: 0 7px !important;

    background-color: #fff;
    opacity: 1;
    cursor: pointer;

    position: relative;
}
/* This makes the rectangle navigation clickable are larger, so that it's easier to click on */
.swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: -24px;
    left: -7px;
    right: -7px;
    bottom: -15px;
    cursor: pointer;
}
/* make the first occurence more clickable from left */
.swiper-pagination-bullet:first-of-type::before {
    left: -25px;
}
/* make the last occurence more clickable from right */
.swiper-pagination-bullet:last-of-type::before {
    right: -25px;
}
.swiper-pagination-bullet:focus-visible {
    outline: 4px solid #5a9ed1;
    outline-offset: 4px;
    box-shadow: 0 0 0 6px black;

    z-index: 10000;
}
.swiper-pagination-bullet-active {
    background-color: var(--red);
}

/* NAHRADNI PLNENI */
#nahradni-plneni {
    margin: 0 50px;
}
#nahradni-plneni h2 {
    margin-bottom: 5px;
}
#nahradni-plneni p {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 56px;
}
#nahradni-plneni a {
    margin-top: 0px;
    margin-left: 56px;
    margin-bottom: 80px;
}
@media (max-width: 600px) {
    #nahradni-plneni p {
        font-size: 20px;
        margin-left: 48px;
    }
    #nahradni-plneni a {
        margin-left: 48px;
    }
}

/* STATISTIKY */
#statistiky {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;

    padding: 30px 0;

    background-color: var(--red);
}
#statistiky h3 {
    color: white;
    font-size: 54px;
    line-height: 54px;
    margin: 0;

    text-align: center;
}
#statistiky p {
    color: white;
    font-size: 24px;
    margin: 0;

    text-align: center;
}
@media (max-width: 1000px) {
    #statistiky {
        flex-direction: column;
        gap: 20px;
    }
    #statistiky h3 {
        font-size: 40px;
    }
    #statistiky p {
        font-size: 20px;
    }
}

/* KDE NAS NAJDETE */
#kde-nas-najdete {
    margin: 0 50px;
}

#kde-nas-najdete iframe {
    --space-around: 200px;
    margin-left: var(--space-around);
    margin-right: var(--space-around);
    width: calc(100% - var(--space-around) * 2);

    border: 7px solid var(--red);
}
#kde-nas-najdete h2 {
    margin-bottom: 0;
}

#kde-nas-najdete p {
    margin-left: 56px;
    margin-top: 0;
}

@media (max-width: 1000px) {
    #kde-nas-najdete iframe {
        --space-around: 15px;

        height: 300px;
        width: auto;
        box-sizing: border-box;
    }
}
@media (max-width: 600px) {
    #kde-nas-najdete {
        box-sizing: border-box;
    }
    #kde-nas-najdete p {
        margin-left: 48px;
        font-size: 20px;
    }
    #kde-nas-najdete iframe {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    /* change the padding of each section to 15px on the sides */
    #sluzby,
    #partneri,
    #nahradni-plneni,
    #kde-nas-najdete {
        margin: 0 15px;
    }
}
