main {
    padding: 0 50px;
}

h3 {
    margin-top: 50px;

    font-size: 30px;
    color: var(--red);
}
ul {
    margin: 0;

    font-size: 24px;
}
li {
    margin-right: 10px;
}
#grid-map {
    display: grid;
    gap: 30px;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}
#grid-map a {
    position: relative;
}
#grid-map a::after {
    content: "Mapka areálu chdcho";

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: var(--red);
    font-weight: bold;
}

@media (max-width: 1400px) {
    #grid-map {
        grid-template-columns: 1fr;
    }
    #grid-map img {
        max-height: 500px;
        object-fit: contain;
    }
}
@media (max-width: 600px) {
    main {
        padding: 0 20px;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    ul {
        font-size: 20px;
    }
}
